.Login {
  background-color: #f0f0f0; /* Light grey background */
  padding: 20px;
  max-width: 400px; /* Set a max width for the form */
  margin-top: 50px;
  margin-left:auto; 
  margin-right: auto;
  margin-bottom: 50px;
  
  border-radius: 8px; /* Rounded corners for the form */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Soft shadow around the form */
}

h2, h1 {
  text-align: center;
  color: #333; /* Darker font color for better readability */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 22px);
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #dd9715;
}
