.AdminDashboard{
    display: flex;
    align-items: stretch;
    border: 1px solid #333;
    height: 90vh;
}
.contentHeader{
    /* background-color: red; */
    width: 20%;
}

.contentHolder{
    padding: 10px;
    width: 80%;
    border: 1px solid #333;
    overflow-y: scroll;
}
.carInspectionReportAdd{
    width: 100%;
    padding: 3em 3em;
}
form{
    margin: 1rem 0;
}
form .formgrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
}

form .formgrid div{
    background:rgb(229, 227, 227);
    margin: .3rem;
    display: inline-block;
    padding: .5rem;
    border-radius: 10px;
}
form button{
    background: #000;
    width: 25%;
    margin: .5rem auto;
}

select{
    width: 50%;
    padding: .4rem;
    border-radius: 10px;
    margin: 0 .5rem;
}
input[type="file"]{
    margin: 1rem ;
}
/* --- Only_Report --- */
#My_Car_ID_Pass {
    border: 0px solid transparent;
    padding: 0.5em 0em;
    text-align: right;
    letter-spacing: 1px;
    color: #333;
}
/* --- Only_Report --- */